<div class="weather-dashboard">
  <mat-toolbar color="primary">
    <span>Weather Forecast</span>
  </mat-toolbar>

  <mat-tab-group>
    <mat-tab label="Dashboard">
      <div class="search-container">
        <mat-form-field appearance="outline" class="search-input">

          <mat-label>Enter city name</mat-label>

          <input matInput [(ngModel)]="city" placeholder="Enter city name" (keyup.enter)="getWeatherData()"/>

       

        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getWeatherData()">Search</button>
      </div>

      <div *ngIf="weatherData; else errorTemplate" clas="weather-details">

        <mat-card class="current-weather">
          <mat-card-title>Current Weather</mat-card-title>
          <mat-card-content>
           <p><strong>Temperature:</strong>{{weatherData.temp}}C</p>
           <p><strong>Himidity:</strong>{{weatherData.humidity}}%</p>
           <p><strong>Wind:</strong>{{weatherData.wind}}km/h</p>
           <p><strong>Condition:</strong>{{weatherData.condition}}</p>

          </mat-card-content>
        </mat-card>

        <mat-card class="forecast">
          <mat-card-title>5-Day Forecast</mat-card-title>
          <div class="forecast-days">
            <mat-card class="day" 
            *ngFor= "let day of forecastData">
             <p><strong>Date:</strong>{{day.date}}</p>
             <p><strong>CCondition:</strong>{{day.condition}}</p>
             <p><strong>Temp:</strong>{{day.temp}}C</p>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Location">
      <p>Location tab content goes here.</p>
    </mat-tab>

    <mat-tab label="Date">
      <p>Date tab content goes here.</p>
    </mat-tab>
  </mat-tab-group>


  <ng-template #errorTemplate>
    <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
  </ng-template>
</div>


